@charset "utf-8";

.sub07_art02>img{margin:60px 550px 0;}
.sub04_art05{padding:0 650px 100px;}
.sub04_art05>ul>li{width:250px;}
.sub07_art03{padding:0 180px; margin-top:60px;}
.sub07_art03>ul{margin:20px 400px 0;}
.sub07_art03>ul>li{padding-bottom:10px;}
h5{text-align:center;font-size:40px; font-weight:bold; padding-bottom:30px;}