@charset "utf-8";

/* 전체 스타일 */
body{min-width:1660px;}
.wrap{position:relative;}

/* 헤더 스타일 */
header{color:#777; max-width:1680px;  margin:0 auto;}
.nav_top{width:100%; padding:10px 0; padding-right:200px; border-bottom:1px solid rgb(234,234,234); overflow:hidden;}
.nav_top>ul{float:right;}

.nav_bot>ul{margin-left:280px; padding:20px 0;}
.nav_top>ul>li{display:inline-block; border-right:1px solid rgb(234,234,234); padding:0 15px; font-size:12px;}
.nav_top>ul>li:last-child{border-right:none;}
.nav_bot>ul>li{display:inline-block; padding-right:50px; font-size:16px; font-weight:bold; }
.nav_bot>ul>li:first-child{padding-right:175px;}

/* 로그인 스타일 */
.login_form{background:rgb(234,234,234); position:absolute; width:30%; height:auto; z-index:99; top:150px; left:50%; transform:translateX(-50%);border:5px solid #002c5e; border-radius:10px; padding:0 50px;}
.login_form div{margin-bottom:10px;}
.login_form input{width:100%; height:30px; margin:10px 0; padding:0 10px;}
.login_form>form>div:nth-child(3){width:40%; height:35px; line-height:35px; margin:0 auto; text-align:center; background:#006992; cursor:pointer; color:white; font-size:14px; margin-bottom:10px;} 
.login_form>form>div:nth-child(3):hover{background:#002c5e;}
.login_form h2{color:#006992; font-weight:bold; font-size:14px; margin:20px 0; text-align:center;}
.login_form h3{font-size:14px; margin-bottom:10px; text-align:center; font-weight:bold;}
.login_form h7 a{font-size:14px; color:#006992; font-weight:bold;}
.logo{text-align:center; border-bottom:1px solid #999; padding:15px 0;}

/* 회원가입 스타일 */
.join_form{background:rgb(234,234,234); position:absolute; width:30%; height:auto; z-index:99; top:150px; left:50%; transform:translateX(-50%);border:5px solid #002c5e; border-radius:10px; padding:0 50px;}
.join_form>form div{font-weight:bold;}
.join_form input{width:100%; height:30px; margin:10px 0; padding:0 10px;}
.join_form>form>div:nth-child(4){width:40%; height:35px; line-height:35px; margin:0 auto; text-align:center; background:#006992; cursor:pointer; color:white; font-size:14px; margin-bottom:10px;} 
.join_form>form>div:nth-child(4):hover{background:#002c5e; color:white;}
.join_form h1{font-size:25px; font-weight:bold; padding:10px 0; color:#333;}
.join_form h6{font-weight:bold; color:#333; padding-bottom:10px;}
.join_form h2{color:#006992; font-weight:bold; font-size:14px; margin:20px 0;}
.join_form h3{font-size:12px; margin-bottom:10px;}

.logo,.join_form>form>div:nth-child(2),.join_form>form>div:last-child{text-align:center;}
.logo{border-bottom:1px solid #999; padding:15px 0;}


/* 왼쪽 섹션 스타일 */
.l_sec{display:inline-block; width:6%; background:#444; vertical-align:top;}
.l_sec>div{position:sticky; top:0; }
.l_sec div>a{color:white;}
.l_sec>div img{width:2.5em; padding-bottom:5px;}
.l_sec>div>a>div{height:90px; border-bottom:1px solid #666; font-size:12px; font-weight:bold; text-align:center;} 
.l_sec>div>a div{font-size:11px; font-weight:bold;}
.l_sec>div>a>div:hover{background:#002c5e;}
.l_sec>div div:first-child{padding-top:10px;}

/* 오른쪽 섹션 스타일 */
.r_sec{display:inline-block; width: calc(100% - 6%);}

/* 배너 스타일 */
.bx-wrapper{border:none; box-shadow:none;}
.nav_slider{background:#444; margin:0 auto; width:70%; margin-bottom:35px;}
.nav_slider>ul>li{display:inline-block; cursor:pointer; font-weight:bold; color:white; width:13.8%; padding-right:15px; height:60px; line-height:60px; text-align:center;}
.nav_slider>ul>li:last-child{padding-right:0; margin-left:10px;}
.nav_slider li:hover{background:white; color:#444; font-weight:bold;}

.slider{position:relative;}
.ban_text{position:absolute; top:40px; left:220px;}
.ban_text>ul>li:first-child{font-size:50px; font-weight:bold;}
.ban_text>ul>li:last-child{font-size:28px; font-weight:bold; padding-top:10px;}
.ban_text_white{position:absolute; top:40px; left:220px;}
.ban_text_white>ul>li:first-child{font-size:50px; font-weight:bold; color:white;}
.ban_text_white>ul>li:last-child{font-size:28px; font-weight:bold; padding-top:10px; color:white;}

.ban_box{position: absolute; top:350px; left:220px;}
.ban_box>ul li{display:inline-block;  width:120px; height:40px; border:1px solid #002c5e; background:#002c5e; 
                color:white; font-size:12px; line-height:40px; text-align:center; margin-right:20px; }
.ban_box>ul li:hover{border:1px solid #006992; background:#006992;}

/* 배너 02 */
.model>ul{overflow:hidden; margin:30px 0;}
.model>ul>li{float:left; border:1px solid rgb(234,234,234); width:280px; height:280px; padding:50px 0 0 20px; margin-right:40px;}
.model>ul>li:hover{background:#999;}
.model>ul>li:last-child{margin-right:0;}
.model>ul>li>a>div:nth-child(2){font-size:18px; font-weight:bold; text-align:center; padding-top:30px; color:#222;}
.model{display:none;}
#model01{display:block;}

/* 배너 03 */
#banner03{position:relative; clear:both;}
.promo_text{position:absolute; top:80px; left:220px;}
.promo_text>ul>li:first-child{font-size:50px; font-weight:bold;}
.promo_text>ul>li:last-child{font-size:28px; font-weight:bolder; padding-top:10px;}
.promo_text_white{position:absolute; top:80px; left:220px;}
.promo_text_white>ul>li:first-child{font-size:50px; font-weight:bold; color:white;}
.promo_text_white>ul>li:last-child{font-size:28px; font-weight:bolder; padding-top:10px; color:white;}
.promo_box{position:absolute; top:350px; left:220px; border:1px solid #002c5e; background:#002c5e;
            width:120px; height:40px; line-height:35px; text-align:center; color:white; }
.promo_box>a{color:white;}
.promo_box:hover{border:1px solid #006992; background:#006992;}

/* 아티클 스타일 */
.article01{text-align:center; background:rgb(234,234,234);}
.art01_top h1{font-size:42px; font-weight:bold; padding-top:80px;}
.art01_top h2{font-size:15px; font-weight:bold; padding-top:50px;}
.art01_top>ul>li:last-child li{display:inline-block; width:120px; height:40px; margin-top:50px; background:#002c5e; color:white; font-size:14px; line-height:40px; margin-right:20px;}
.art01_bot ul{padding:60px 10px;}
.art01_bot li{display:inline-block; width:23%; margin-right:1%; position:relative;}
.art01_bot li:nth-child(4){margin-right:none;}
.art01_bot img{width:100%;}
.art01_bot>ul>li ul{position:absolute; padding:30px 0; bottom:0; left:0; right:0; background:rgba(0,0,0,0.3)}
.art01_bot>ul>li ul>li:first-child{position:absolute; left:10px; bottom:20px; width:40%; margin:0; color:white; font-weight:bold;}
.art01_bot>ul>li ul>li:last-child{position:absolute; right:10px; bottom:20px; width:10px; margin:0; color:white; font-weight:bold;}


.article02{overflow:hidden;}
.article02>div{float:left; width:50%; position:relative; height:auto;}
.article02 div img{width:100%;}
.article02 a{color:white;}
.art_text{width:100%; position:absolute; text-align:center; top:50%; left:50%; transform:translate(-50%,-50%);}
.art_text>li:first-child{font-size:40px; font-weight:bold; padding-bottom:10px;}
.art_text>li:last-child{font-size:12px; }


.article03{clear:both; background:url('../images/background.png') no-repeat; background-size:cover; height:500px;}
.art03{width:550px; height:300px; background:white; margin-top:80px; padding:30px 40px;}
.news{width:1200px; margin:0 auto;}
#art03_left{float:left;}
#art03_right{float:right;}
.art03>div>ul>li{clear:both;display:inline-block;}
.art03 div ul{padding-right:20px;}
.art03 div ul a{color:black;}
.art03 h1{font-size:28px; font-weight:bold; padding-bottom:20px;}
.art03 div ul>li{padding-top:20px; font-size:15px;}
.art03>div>div>ul{float:left;}
.art03>div:nth-child(1)>ul>li:nth-child(2){padding-left:370px; font-size:25px; font-weight:bold;}

/* 푸터 스타일 */
footer{background:#222; width:100%;}
.foot_top{margin:0 auto; width:1200px; border-bottom:1px solid #777; padding-bottom:40px;}
.foot_top>div{display:inline-block; margin-top:30px; padding-right:26px;} 
.foot_top>div:last-child{padding-right:0;}
.foot_top>div:first-child img{width:5em; margin-bottom:50px;}
.foot_top>div:nth-child(2)>ul>li{color:#777; font-size:12px; padding:5px 100px;}
.foot_top>div:nth-child(2)>ul>li li{display:inline-block; font-size:12px; padding-right:20px;}
.foot_top>div:nth-child(3) img{width:30px; height:30px;}
.foot_top>div:nth-child(3)>ul{margin-bottom:60px;}
.foot_top>div:nth-child(3)>ul>li{display:inline-block; padding-right:10px;}
.foot_top>div:nth-child(3) form>select{width:215px; height:30px; background:#222; color:white; border:1px solid #777; margin-top:10px;}

.foot_bot{margin:0 auto; width:1200px; padding-top:40px;}
.foot_bot>ul{overflow:hidden; padding-bottom:50px;}
.foot_bot>ul>li{overflow:hidden; float:left; padding-bottom:10px;padding-right:33px;}
.foot_bot>ul>li:nth-child(5){padding-right:0;}
.foot_bot>ul>li>div{float:left; font-size:12px; font-weight:bold;}
.foot_bot>ul>li>div:last-child{width:170px; color:#777;}
